<div class="login-form">

    <div id="alert_success" class="alert alert-success" style="display:none">
      <strong>Cadastrado com sucesso!</strong> Clique <a href="/login">aqui para fazer o login.</a>
    </div>

    <h2 class="text-center">Cadastro</h2>       
    <div class="form-group">
        <input type="text" class="form-control" id="i_nome" placeholder="Nome" required="required" >
    </div>
    <div class="form-group">
            <input type="date" class="form-control" id="i_data" placeholder="Data de nascimento" required="required">
    </div>
    <div class="form-group">
            <input type="text" class="form-control" id="i_email" placeholder="E-mail" required="required">
    </div>
    <div class="form-group">
        <input type="password" class="form-control" id="i_senha" placeholder="Senha" required="required">
    </div>
    <div class="form-group">
        <button id="btn_insert" type="submit" class="btn btn-primary btn-block">Cadastrar</button>
    </div>
    
    <p class="text-center"><a href="/login">Login</a></p>
</div>