<p>product-add works!</p>
<div class="product-add-form">

<h3>Inserir</h3>
<table id="example1" class="display" style="width:100%">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Data Nascimento</th>
        <th>Email</th>
        <th>Inserir</th>
      </tr>
    </thead>

    <tr>
        <th><input type="text" name="i_nome" id="i_nome" class="inputs"></th>
        <th><input type="text" name="i_data" id="i_data" class="inputs"></th>
        <th><input type="text" name="i_email" id="i_email" class="inputs"></th>
        <th><button style="font-size: 12px" id="btn_insert" type="button" class="btn btn-success">Insert</button></th>
      </tr>
  </table>
</div>
